{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
		
	<h4 class="bg-info text-light my-2">Список ситхов и их Рук Теней</h4>

	<ul class="list-group list-group-flush font-italic">
		{% for sith in sith_list1 %}

		<li class="list-group-item list-group-item-dark">Ситх {{ sith.0 }} - {{ sith.1 }} Рук Теней</li>

		{% endfor %}

	</ul>

	<h4 class="bg-info text-light mt-2">Список ситхов, имеющих более одной Руки Тени</h4>

	<ul class="list-group list-group-flush font-italic">
		{% for sith in sith_list2 %}

		<li class="list-group-item list-group-item-dark">Ситх {{ sith.0 }} - {{ sith.1 }} Рук Теней</li>

		{% endfor %}

	</ul>

{% endblock %}

