{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

	<h4>Рекрут: {{ recruit.name }}</a> --- Возраст: {{ recruit.age }} --- Планета: {{ recruit.planet }}</h4>

	<h4>Результаты теста:</h4>

	<ul>
		{% for answer in answer_list %}

			{% if answer.answer %}

				<li>{{ answer.question.text }} --- Да</li>

			{% else %}

				<li>{{ answer.question.text }} --- Нет</li>

			{% endif %}
		
		{% endfor %}
	</ul>

	<a href="{{ request.META.HTTP_REFERER }}" class="nav-link">Назад</a>
	
{% endblock %}

