{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

	<h4>Ситх: {{ sith.name }} -- Планета: {{ sith.planet }}</h4>

	<h6 class="py-4">Свободные рекруты:</h6>

	{% if recruit_list %}

	<ul>
		{% for recruit in recruit_list %}

		<li><a href="{{ recruit.get_absolute_url }}">{{ recruit.name }}</a> --- Возраст: {{ recruit.age }} --- Планета: {{ recruit.planet }}

			<form action="{% url 'hands' sith.id recruit.id %}" method='post'>
				{% csrf_token %}

				{% buttons %}
	       			<button type="submit" class="btn btn-primary">Зачислить в Руки Тени</button>
    			{% endbuttons %}
  			</form>
		</li>
		
		{% endfor %}
	</ul>

	{% else %}

		<p>Нет свободных рекрутов</p>

	{% endif %}

{% endblock %}

